    {% extends "news/base.html" %}

    {% block title %} Категории {% endblock %}

    {% block content %}
    <h1 class="page-title"> Категории </h1>

    <div style="text-align: center; margin-bottom: 30px;">
    <a href="{% url 'news_list' %}" class="add-news-btn">📰 Читать все новости</a>
    {% if can_add_category %}
        <a href="{% url 'add_category' %}" class="add-news-btn">✍️ Добавить категорию</a>
    {% endif %}
    </div>

    <div class="news-grid">
        {% for item in categories_list %}
        <div class="news-card">
            <div class="news-card-content">
                <a class="news-title">{{ item.title }}</a>
            </div>
            
            <!-- ОТДЕЛЬНАЯ КНОПКА РЕДАКТИРОВАНИЯ ПОД КАРТОЧКОЙ -->
            <div class="edit-button-container">
                <a href="{% url 'category_id' item.pk %}" class="edit-news-btn">
                    <span class="edit-icon">📰</span>
                    Читать новости
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}